website_front-main/node_modules
website_front-main/.pnp
website_front-main/.pnp.js

# testing
website_front-main//coverage

# production
website_front-main//build

# misc
website_front-main/.DS_Store
website_front-main/.env.local
website_front-main/.env.development.local
website_front-main/.env.test.local
website_front-main/.env.production.local

website_front-main/npm-debug.log*
website_front-main/yarn-debug.log*
website_front-main/yarn-error.log*


# .env*
website_back-main/dist
website_back-main/package-lock.json
website_back-main/node_modules
website_back-main/.idea
website_back-main/.vscode
website_back-main/*.log
website_back-main/yarn.lock
website_back-main/config/config.json
website_back-main/build
website_back-main/logs
website_back-main//src/temp/
website_back-main/.DS_Store

website_back-main/prisma/docker-compose.local.yml