.date-container {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.date-container .date-wrap {
    display: flex;
    flex-direction: row;

    gap: 50px;
}