.sidebar-container {
    width: 250px;
    height: 785px;

    background: url("image.png") no-repeat center center;
    background-size: cover;

    float: left;
}

.sidebar-container a {
    color: #FFFFFF;
}

.sidebar-container::after {
    content: "";
    background-color: black;
    opacity: 0.5;
    z-index: 1;
}

.sidebar-container .sidebar-box {
    margin: 50px 25px 0 25px;
}

.sidebar-container .sidebar-title {
    color: #FFB800;
    font-size: 32px;
    font-weight: 600;

    padding-bottom: 2rem;
}

.sidebar-container .sidebar-subtitle {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 500;

    padding-bottom: 2rem;
}

.sidebar-container .sidebar-function {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10rem;
    color: #FFFFFF;

    font-size: 18px;
}